<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.mnpost.app">
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_logo"
        android:label="@string/app_name"
        android:name=".MyApplication"
        android:roundIcon="@mipmap/ic_logo"
        android:supportsRtl="true"
        android:hardwareAccelerated="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".Splash.SplashActivity"
            android:theme="@style/AppTheme.NoActionBar.FullScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".main.MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.ThemeUser"/>

        <activity
            android:name=".login.LoginActivity"
            android:theme="@style/AppTheme.NoActionBar.FullScreen"/>
        <activity
            android:name=".updatedelivery.UpdateDeliveryActivity"
            android:theme="@style/AppTheme.ThemeUser"/>
        <activity
            android:name=".main.ScanBarcodeZXing"
            android:theme="@style/AppTheme.NoActionBar.FullScreen"
            android:screenOrientation="portrait" />
        <activity
            android:name=".deliveryhistory.DeliveryHistoryActivity"
            android:theme="@style/AppTheme.ThemeUser"/>

        <activity
            android:name=".updatetake.UpdateTakeActivity"
            android:theme="@style/AppTheme.ThemeUser"/>


        <activity
            android:name=".camera.CameraActivity"
            android:theme="@style/MaterialTheme"/>
    </application>

</manifest>